*{
    margin: 50px;
}
.first{
    position: static;
    background-color: blue;
    height: 50px;
    width: 50px;
}
#second{
    background-color: blueviolet;
    height: 50px;
    width: 50px;
    position: relative;
    top: 20px;
    left: 100px;
}
#third{
    position: absolute;
    background-color: aquamarine;
    top: 50px;
    left: 50px;
}
#fourth{
    position: fixed;
    background-color: brown;
    height: 50px;
    width: 50px;
}