*{
   padding: 0;
   margin: 0;
}
nav a { 
    margin-left: 200px;
    
   
    text-decoration: none;
    
    display: inline-block;
}
header{

    background-color: aqua;
    padding: 10px;
}
nav{
    padding: 5px;
}
#div{
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
}
#container{
   border: 3px dashed;
   
   
}
.div{
    background-color: aqua;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 5px;
   

}
#baby{
    position: fixed;
    right: 10px;
   
}
#box2{
    position: absolute;
    z-index: 2;
    left: 20px;
}
footer{
    position: fixed;
    background-color: aquamarine;
    bottom: 2px;
}