*{
        margin: 0;
        padding: 0;
    }
    #boxmodel{
        height: 200px;
        width: 200px;
    }
    #click{
        background-color: aqua;
        padding: 10px 15px 10px 15px;
        margin: 50px;
        border: 5px dotted red;
        border-radius: 1px 1px 50px 50px;

    }
    .box1{
        color: chartreuse;
        background-color: rgb(14, 141, 220);
        height: 100px;
        margin: 10px;
        padding: 10px;
        text-align: center;
        width: 100px;
        box-sizing: content-box;
        border: 5px solid rgb(123, 47, 11);
        border-radius: 40px;
    }
    #dif{
         color: chartreuse;
        background-color: rgb(14, 141, 220);
        height: 100px;
        margin: 10px;
        padding: 10px;
        text-align: center;
        width: 100px;
        box-sizing: border-box;
        border: 5px solid rgb(123, 47, 11);
        border-radius: 40px;
    }
    #click{
        padding: 10px 15px;
        margin: 100px;
        border: 2px dotted red;
        border-radius: 35px;

    }