*{
    padding: 0;
    margin: 0;
        font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
        box-sizing: border-box;  /*to fix all the chenges like margin padding inside  their defined height and width */
}
header{
    display: flex;
    background-color: #ffff ;
    
    height: 80px;
    justify-content: space-between; /* used for give horizontal space between the content of the flex box container */
    align-items: center; /*used to give the vertical space between item of the flexbox container */
    border-bottom: 1px solid #e5dddd;
}

.logo_icon{
    height: 36px ;
}
.myntra_home{
    height: 45px;
    
}
.logo_container{
    margin-left: 2%;
}
.action_bar{
    margin-right: 2%;
}
.nav_bar{
    display: flex;
    min-width: 524px;
    justify-content: space-evenly;
}
.nav_bar a{
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    padding: 28px 0;
    text-transform: uppercase;
     border-bottom: 4px solid #ffff;
}
.nav_bar a sup{
    color: #ff3f6c;
    font-size: 10px;
}
.nav_bar a:hover{
    border-bottom: 4px solid #ee5f73;
}
.search_bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;

}
.search_icon{
    box-sizing: content-box;
    padding: 10px;
    height: 20px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 6px 0 0 6px;
}
.search_input{
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 6px 6px 0;

}
.action_bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*main section*/
.banner_image{
    width: 100%;
    padding: 0 60px;
    margin: 30px 0;
}
.category_heading{
        text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.category_items{
    display: flex;
    flex-wrap: wrap;
    

}
.category_image{
    width: 230px;
    height: 302px;

}
.footer_container{
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;

}
.footer_column{
    display: flex;
    flex-direction: column;
}

.footer_column a{
    color: #696b79;
    padding-bottom: 15px;
    font-size: 15px;
    text-decoration: none;
   
   

}
.footer_column h3{
        font-size: 12px;
        font-weight: 700;
        color: #282c3f; ;
        margin-bottom: 25px;
}
.copyright{
    flex: 1;
    color: #94969f;
    text-align: right;
    padding: 15px;
    
}