*{
    padding: 0;
    margin: 0;
}
#container{
    height: 400px;
    width: 700px;
    margin: 5px;
    border: 2px solid black;
    background-color: azure;
     display: flex;
     flex-direction: row-reverse;
     flex-wrap: wrap;
     justify-content: center;
     justify-items: left;

}
.box{
    background-color: blue;
    margin: 5px;
    height: 150px;
    width: 150px;
   

}
#box6{
     justify-self: end;
}